@font-face {
    font-family: "QuicksandRegular";
    src: url("../fonts/quicksand/quicksand-regular-webfont.eot");
    src: url("../fonts/quicksand/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/quicksand/quicksand-regular-webfont.woff2") format("woff2"),
         url("../fonts/quicksand/quicksand-regular-webfont.woff") format("woff"),
         url("../fonts/quicksand/quicksand-regular-webfont.ttf") format("truetype"),
         url("../fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
