*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Quicksand", "QuicksandRegular", sans-serif;
    line-height: 1.25;
    color: #fff;
    background-color: #ff4081;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 15vw;
    padding-right: 15vw;
}


h1 {
    font-size: 5rem;
    text-align: center;
}


h2 {
    margin-top: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
}
