*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 10vw;
    padding-right: 10vw;
}


h1 {
    font-size: 5rem;
    text-align: center;
}


h2 {
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
}
